<!DOCTYPE html>
<html>
  <head>
    <title>Looper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/nimbus-sans-l" type="text/css"/>

  </head>

  <body class='movie_background'>
    <div class="container">
        <%= render 'shared/search' if user_signed_in? %>
        <%= render 'shared/sidebar' if user_signed_in? %>
        <p class="notice notification"><%= flash.notice %></p>
        <p class="alert notification"><%= flash.alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
